{% extends 'base.html' %}

{% block content%}

    <section class="colored-section container-fluid">
        <h1 class="big-heading">Suitable house for you:</h1>
    </section>
<div class="container-fluid">
    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.y8dGDzNc0EIP_cS6SExVtwHaE8%26pid%3DApi&f=1"
        width="400px">
    <p><strong>
            <h1>Price Range:</h1>
        </strong></p>{{ data['pricing']['minimum']}}-{{data['pricing']['maximum']}}
    <br />
    <p><strong>
            <h1>Surface Area:</h1>
        </strong></p>{{data['carpet_size']}}</strong>
    <br />
    <p><strong>
            <h1>Locality:</h1>
        </strong></p>{{data['location'] }}

</div>

<!-- Footer -->

<footer class="colored-section" id="footer">

    <div class="container-fluid">
        <div class="footer-icons">
            <a class="fa-brands fa-twitter footer-icon" href="https://twitter.com/" target="_blank"
                style="text-decoration: none; color: #fff"></a>
            <a class="fa-brands fa-facebook-f footer-icon" href="https://www.facebook.com/" target="_blank"
                style="text-decoration: none; color: #fff"></a>
            <a class="fa-brands fa-instagram footer-icon" href="https://www.instagram.com/" target="_blank"
                style="text-decoration: none; color: #fff"></a>
            <a class="fa-solid fa-envelope footer-icon" href="https://www.gmail.com/" target="_blank"
                style="text-decoration: none; color: #fff"></a>
        </div>
        <p style="color: #fff;">© Copyright PriorityRentals</p>
    </div>

</footer>
{%endblock%}