{%extends 'base.html'%}

{% block content %}  
<div class="container-fluid-image image-section">   
  <!-- Title -->
	<div class="row">
    	<div class="col-lg-6">
        	<h1 class="big-heading">Find the perfect place for you to live.</h1>
			<form action="" class="search-bar">
				<input type="search" name="search">
			</form>
           	<a type="button" class="btn btn-dark btn-lg download-button" href="{{url_for('rent')}}" target="_blank">Find
            Property</a>
			<a type="button" class="btn btn-dark btn-lg download-button" href="{{url_for('list')}}"
            target="_blank">List Property</a>
        </div>
    </div>
</div>
<div class="strip">
</div>
	
  <!-- Features -->

<section class="white-section" id="features">
	<div class="container-fluid">
    	<div class="all-features row">
        	<div class="feature-div col-lg-4">
          		<i class="feature-icon fa-solid fa-circle-check"></i>
          		<h3 class="feature-title">Easy to use.</h3>
          		<p>So easy to use, even a child could do it.</p>
        	</div>

        	<div class="feature-div col-lg-4">
          		<i class="feature-icon fa-solid fa-bullseye"></i>
          		<h3 class="feature-title">Elite Clientele</h3>
          		<p>We have all the tenants, the best properties.</p>
        	</div>
        	
			<div class="feature-div col-lg-4">
          		<i class="feature-icon fa-solid fa-heart"></i>
          		<h3 class="feature-title">Guaranteed to work.</h3>
          		<p>You will find the house of your dreams here.</p>
        	</div>
      	</div>
    </div>
</section>
  <!-- Testimonials -->

<section class="accent-section" id="testimonials">
    <div id="carocaro" class="carousel slide accent-section" data-bs-ride="false">
      	<div class="carousel-inner">
        	<div class="container-fluid  carousel-item active">
				<h2 class="testimonial-text">
					<span id="quotes">"</span>
					I no longer have to roam for finding a place to live. I've found the house of my
					dreams on Rental Gateway
					<span id="quotes">"</span>
				</h2>
				<img class="testimonial-image" src="{{ url_for('static', filename='images/crocodile-img.jpg') }}"
				alt="crocodile-profile">
				<em>Rohini,Delhi</em>
        	</div>

        	<div class="container-fluid carousel-item">
          		<h2 class="testimonial-text">
					<span id="quotes">"</span>
            		My second house used to be be unused, but with PriorityRentals's help, I have
            		found a great tenant for it
					<span id="quotes">"</span>
				</h2>
          		<img class="testimonial-image" src="{{ url_for('static', filename='images/lady-img.jpg') }}"
            	alt="lady-profile">
          		<em>Barely,Uttar Pradesh</em>
        	</div>
      	</div>
      	<button class="carousel-control-prev" type="button" data-bs-target="#carocaro" data-bs-slide="prev">
        	<span class="carousel-control-prev-icon"></span>
      	</button>
      	<button class="carousel-control-next" type="button" data-bs-target="#carocaro" data-bs-slide="next">
        	<span class="carousel-control-next-icon"></span>
      	</button>
    </div>
</section>
  <!-- Bootstrap script -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
    crossorigin="anonymous"></script>

{%endblock%}